ecobee_api_key:

mqtt_host:
mqtt_username:
mqtt_password:

home_latitude:
home_longitude:

pushover_api_key:
pushover_user_key:

arlo_username:
arlo_password:

unifi_video_ip:
unifi_video_api_key:
unifi_video_camera_password:
